<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
<!--	<link rel="stylesheet" th:href="@{/css/index.css}">-->
	<script defer src="../takePicture.js"></script>
	<title>Home Page</title>
</head>
<body>
	
	<!-- Importing NavBar -->
	<div th:insert="navbar.html :: navbar"></div>

	<!-- Main Container Start -->
	<div class="main-container container py-5 px-4">

		<div class="text-box">
			<div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>

			<form class="card bg-dark py-5 px-4" action="/quiz" method="POST">


				<div class="camera">
					<video id="video">Video stream not available.</video>
					<button id="startbutton" class="btn btn-warning">Take photo</button>
				</div>
				<canvas hidden id="canvas">
				</canvas>
				<div class="output">
					<img id="photo" name="photo" alt="The screen capture will appear in this box.">
					<p class="text-danger warning_photo" th:if="${warning_photo}" th:text="${warning_photo}"></p>
				</div>

				<p class="text-danger" th:if="${warning}" th:text="${warning_credentials}"></p>
				<p style="color:white;">Email</p>
				<input type="email" name="email"/>

				<p style="color:white;">Password</p>
				<input type="password" name="password"/>

				<input hidden type="text" id="photoString" name="photo" max="9999"/>

				<div>
					<p class="text-danger" th:if="${warning}" th:text="${warning}"></p>
				</div>
				<button id="login" type="submit" class="btn btn-warning">Login</button>
			</form>
			<form class="card bg-dark py-5 px-4" action="/register" method="GET">
				<button type="submit" class="btn btn-warning">Register</button>
			</form>
		</div>
	</div>

</body>
</html>